* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --input-bg: #f9f9f9;
  --button-bg: black;
  --button-color: white;
}

body.dark {
  --bg-color: #212121;
  --text-color: #f0f0f0;
  --input-bg: #212121;
  --btn-bg: #444;
  --btn-text: #fff;

  --app-message-bg: #2a2a2a;
  --user-message-bg: #3b3b3b;
}



body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
